#module-ets_marketplace-attributes div#head_tabs ul.nav a,
#module-ets_marketplace-features div#head_tabs ul.nav a {
    float: left;
    padding: 12px 20px;
    border-right: 1px solid #ddd;
    color: #777;
    position: relative;
    border-bottom: 0 solid #fff;
    margin-bottom: -1px;
    height: 45px;
}
#module-ets_marketplace-attributes div#head_tabs ul.nav li.active a,
#module-ets_marketplace-features div#head_tabs ul.nav li.active a {
    z-index: 1;
    background-color: #f4f9fb;
    border-bottom: 3px solid #3ed2f0;
    color: #363a41;
}
#module-ets_marketplace-attributes div#head_tabs ul.nav, #module-ets_marketplace-features div#head_tabs ul.nav {
    display: flex;
    display: -webkit-flex;
    background: #fff;
    position: relative;
}
